.title{
  font : 45px gray;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0px;
  padding: 20px;
}

.list{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}

.subtitle{

}

body{
  margin: 0px;
}
